name: Build

on:
  pull_request:
    branches:
      - "*"

  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Setup golang
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25'

      - name: Setup musl
        run: |
          sudo apt-get install -y musl-tools musl-dev

      - name: Install golang dependencies
        run: go mod download -x

      - name: Build and test
        env:
          GOROOT: ${{ env.GOROOT_1_25_X64 }}
        run: |
          make build build-fips config test

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: |
            build/linux/amd64/clickhouse-backup
            build/linux/arm64/clickhouse-backup
            build/linux/amd64/clickhouse-backup-fips
            build/linux/arm64/clickhouse-backup-fips
          if-no-files-found: error
          retention-days: 1

  docker:
    name: Docker (dev)
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: build-artifacts
          path: ./build/linux/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push dev Docker images
        run: |
          export VERSION=$(git describe --always --tags --abbrev=0 2>/dev/null | sed 's/^v//;s/\([^-]*-g\)/c\1/;s/-/./g')
          export REPO=ghcr.io/${{ github.repository_owner }}/clickhouse-backup

          docker buildx build --progress=plain --platform=linux/amd64,linux/arm64 \
            --tag=${REPO}:dev \
            --build-arg VERSION=$VERSION --target=image_short --pull --push .

          docker buildx build --progress=plain --platform=linux/amd64,linux/arm64 \
            --tag=${REPO}-full:dev \
            --build-arg VERSION=$VERSION --target=image_full --pull --push .

          docker buildx build --progress=plain --platform=linux/amd64,linux/arm64 \
            --tag=${REPO}:dev-fips \
            --build-arg VERSION=$VERSION --target=image_fips --pull --push .
